@import "../common-styles.scss";

.workout-screen {
  width: 100%;
  height: 100%;

  background-color: $darkPurple;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 10vw;

  .now-or-next {
    font-size: 8vw;
  }
}
