.ring-timer {
  display: block;
  width: 80vw;
  height: 80vw;
  border-radius: 50%;
  border: 12px solid transparent;

  background: conic-gradient(
      green 0,
      green var(--countdown),
      #a7a7a7 var(--countdown)
    )
    border-box;

  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  animation: deplete 10s linear forwards infinite;
}

@keyframes deplete {
  100% {
    --countdown: 100%;
  }
}

@property --countdown {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}
