@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$darkPurple: #231f27;
$offWhite: #f2d792;
$dustyBlue: #4b5d73;
$black: #2c2a28;

$lowerButtonOffset: 50px;

div {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: $offWhite;
}
