@import "../common-styles.scss";

.start-screen {
  width: 100%;
  height: 100%;
  background-color: $darkPurple;

  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  font-size: 20px;
}
